<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="FarmITApp.Properties.Settings.LabConnectionString" connectionString="Data Source=WIN-RE443U6FVPN\SQLEXPRESS;Initial Catalog=Lab;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="LabEntities" connectionString="metadata=res://*/EntityFramework.EntityDataModel.csdl|res://*/EntityFramework.EntityDataModel.ssdl|res://*/EntityFramework.EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-RE443U6FVPN\SQLEXPRESS;initial catalog=Lab;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FarmEntities" connectionString="metadata=res://*/Model.FarmEntities.csdl|res://*/Model.FarmEntities.ssdl|res://*/Model.FarmEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-RE443U6FVPN\SQLEXPRESS;initial catalog=Lab;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>